<header class="bg-dark text-white">
    <div class="container">
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-6/408685841_1753911078463839_7377944894413767351_n.jpg?stp=cp6_dst-jpg&_nc_cat=106&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=4HAXolULQy0AX8BJf0Q&_nc_ht=scontent.fhan14-2.fna&oh=00_AfB_ruVsaqU_5vbRGg8uglS1PmZwSoAEhufn2VqRbMugOA&oe=65B5E4AE"
                                 alt=""
                                 class="user-avatar">
                            Trọng Phú
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/courses/create">Đăng khóa học</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
                            <a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Đăng xuất</a>
                        </div>
                    </li>

                </ul>

            </div>
        </nav>
    </div>
</header>